<!DOCTYPE html>
<html lang="en" class="text-gray-900 antialiased leading-tight">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" name="viewport"/>

    <%= if Map.has_key?(@params, :server) do %>
      <title>Helios IM - <%= @params.server.name %> invite</title>

      <meta name="description" content="<%= @params.server.description %>"/>

      <meta name="twitter:card" content="summary_large_image"/>
      <meta name="twitter:site" content="@helios_im"/>
      <meta name="twitter:title" content="Join the <%= @params.server.name %> Helios IM Server!"/>
      <meta name="twitter:description" content="<%= @params.server.description %>"/>
      <meta name="twitter:image" content="<%= @params.icon %>"/>
    
      <meta property="og:title" content="Join the <%= @params.server.name %> Helios IM Server!"/>
      <meta property="og:url" content="https://helios.im/invite/<%= @params.server_invite.invite_id %>"/>
      <meta property="og:description" content="<%= @params.server.description %>"/>
      <meta property="og:site_name" content="Helios IM"/>
      <meta property="og:image" content="<%= @params.icon %>"/>
      <meta property="og:image:type" content="image/jpeg"/>
      <meta property="og:image:width" content="512"/>
      <meta property="og:image:height" content="512"/>
      <link rel="canonical" href="https://helios.im/invite/<%= @params.server_invite.invite_id %>"/>
    <% else %>
      <title>Helios IM - Cannot Find Invite</title>

      <meta name="description" content="Cannot find invite, it either does not exist or is expired!"/>

      <meta name="twitter:card" content="summary_large_image"/>
      <meta name="twitter:site" content="@helios_im"/>
      <meta name="twitter:title" content="Cannot Find Invite"/>
      <meta name="twitter:description" content="Cannot find invite, it either does not exist or is expired!"/>
      <meta name="twitter:image" content=""/>
    
      <meta property="og:title" content="Cannot Find Invite!"/>
      <meta property="og:url" content="https://helios.im/"/>
      <meta property="og:description" content="Cannot find invite, it either does not exist or is expired!"/>
      <meta property="og:site_name" content="Helios IM"/>
      <meta property="og:image" content=""/>
    <% end %>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" href="/assets/07dca80a102d4149e9736d4b162cff6f.ico"/>
  </head>
  <body class="min-h-screen bg-gray-100">
    <%= @inner_content %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>