@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.scrollbar-w-2::-webkit-scrollbar-thumb {
  border-radius: .25rem!important
}

.scrollbar-w-2::-webkit-scrollbar {
    width: .5rem!important;
    height: .5rem!important;
}

.scrollbar-w-2::-webkit-scrollbar-thumb {
    border-radius: .25rem!important;
}
.scrollbar-w-2::-webkit-scrollbar-thumb {
    --bg-opacity: 1!important;
    /* 100: '#f7fafc', */
    /* 200: '#edf2f7', */
    /* 300: '#e2e8f0', */
    /* 400: '#cbd5e0', */
    /* 500: '#a0aec0', */
    /* 600: '#718096', */
    /* 700: '#4a5568', */
    /* 800: '#2d3748', */
    /* 900: '#1a202c', */
    background-color: #1a202c!important;
}
.scrollbar-w-2::-webkit-scrollbar-track {
    --bg-opacity: 1!important;
    background-color: transparent!important;
}

.chat-text a {
    text-decoration: underline;
    color: #3182ce;
}

.loader {
    display: grid;
    padding: 2em;
    /* filter: contrast(2); */
    mix-blend-mode: multiply;
}
.loader::before, .loader::after {
    padding: 6.25em;
    --stops: #fff calc(1em - 1px), transparent 1em;
    background: radial-gradient(circle at 1em, var(--stops)), radial-gradient(circle at 50% 1em, var(--stops)), radial-gradient(circle at calc(100% - 1em), var(--stops)), radial-gradient(circle at 50% calc(100% - 1em), var(--stops));
    filter: blur(2px);
    animation: a 0.875s ease-in-out infinite;
    content: "";
    place-self: center;
    grid-column: 1;
    grid-row: 1;
}
.loader::before {
    animation-name: b;
}

@keyframes a {
  33.33%,
	66.67% {
    padding: 1em;
  }
}
@keyframes b {
  33.33% {
    transform: rotate(0deg);
  }
  66.67%,
	100% {
    transform: rotate(90deg);
  }
}

.form-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1em;
    width: 1em;
    /* color: #4299e1; */
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: 0.25rem;
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}