<div id="server-invite" class="h-screen w-screen flex flex-col justify-center items-center bg-gray-700">
    <div class="w-1/2 lg:w-1/4 shadow-lg bg-gray-800 flex flex-col items-center rounded-lg p-2 justify-between">
        <img
            src="<%= @params.icon %>"
            class="h-24 w-24 my-2 self-center rounded-full"
            alt="<%= @params.server.name %> icon"
        >
        <span class="my-1 text-gray-600">This is an invite for</span>
        <span class="my-2 text-white font-bold text-lg"><%= @params.server.name %></span>
        <a
            class="bg-green-500 hover:bg-green-700 text-white my-2 w-full font-bold py-3 px-4 rounded focus:outline-none text-center focus:shadow-outline"
            href="/@join-server/<%= @params.server.server_id %>/<%= @params.server_invite.invite_id %>"
        >
        Join Server
        </a>
    </div>
    <p class="text-center text-white text-sm mt-2">
        &copy;2020 Helios Messaging Inc. All rights reserved.
    </p>
</div>