<div id="server-invite" class="h-screen w-screen flex flex-col justify-center items-center bg-gray-700">
    <div class="w-1/2 shadow-lg bg-gray-800 flex flex-col items-center rounded-lg p-2 justify-between">
        <div class="py-2">
            <span class="text-white font-bold text-lg">Invite Not Found !</span>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" width="256px" height="256px"><path fill="#fff" d="M64 16A48 48 0 1 0 64 112A48 48 0 1 0 64 16Z"/><path fill="#f48884" d="M64 25A39 39 0 1 0 64 103A39 39 0 1 0 64 25Z"/><path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="6" d="M44 84L84 44M44 44L84 84"/><path fill="none" stroke="#444b54" stroke-miterlimit="10" stroke-width="6" d="M64 16A48 48 0 1 0 64 112A48 48 0 1 0 64 16Z"/></svg>
        </div>
        <a
            class="bg-green-500 hover:bg-green-700 text-white mb-2 w-full font-bold py-3 px-4 rounded focus:outline-none text-center focus:shadow-outline"
            href="/@home"
        >
        Go Home
        </a>
    </div>
    <p class="text-center text-white text-sm mt-2">
        &copy;2020 Helios Messaging Inc. All rights reserved.
    </p>
</div>
